.inputtbox {
    width: 80%;
    margin: 0 auto;
}

.newpost {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 1px solid grey;
    background-color: white;
    border-radius: 2em;
    padding: 1rem;
    
    input {
        width: 94%;
        padding: 1rem;
        outline: none;
        border: none;
    }

    button {
        align-self: flex-end;
        padding: 1rem;
        margin-top: 0.5rem;
        width: 30%;
        border: none;
        border-radius: 2em;

        &:hover {
            border: 1px solid black;
            background-color: red;
            color: white;
            cursor: pointer;
        }
    }
}

.postbox {
    margin-top: 3rem;
}